*{
   margin: none;
   padding: none;
   box-sizing: border-box;
}

body{background-color: gray;}
/* 
main{
   margin: 27vh auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

main div{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

main #pokemon-img{
   display: none;
   width: 300px;
   height: 300px;
   object-fit: cover;
} */

/*
.atm{
   background-color:cadetblue;
   width: 40vw;
   height: 60vh;
   border-radius: 1rem;
   margin: 6rem auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 2rem .5rem;
   
}

.displayBox{
   border: 1px solid black;
   width: 60%;
   height: fit-content;
   border-radius: .3rem;
   padding: 1rem;
}

.atm .btns{
   display: flex;
   flex-direction: column;
   gap: .5rem;
   width: 70%;
}

.atm code{
   background-color: red;
   color: white;
   padding: .2rem .3rem;
   display: none;
}

input{
   width: 100%;
}
*/

main{
   padding: 1rem;
   margin: 4rem auto;
   background-color: aquamarine;
   width: 80vw;
   height: 50vh;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.add-todo{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.input-container{
   display: flex;
   width: 60vw;
}

.input-container input{
   height: 3rem;
   padding: 0 .5rem;
   width: 100%;
   border: none;
}

.input-container #add:hover{
   background-color: lightgray;
}

.input-container #add{
   width: 9rem;
   border: none;
   cursor: pointer;
}

.data{
   margin-top: 3rem;
}

.data-list{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 70vw;
   background-color: whitesmoke;
}

.data-list:hover{
   background-color: lightgray;
   cursor: pointer;
}

.data-holder-container{
   padding: .2rem 1rem;
   width: 100%;
   
}


#close-btn{
   font-size: 1.6rem;
   width: 10%;
  display: grid;
  place-content: center;
  align-items: center;
  height: 3.5rem;
}

#close-btn:hover{
   background-color: red;
}

.data .data-list{
   margin-bottom: .1rem;
}




.data-holder-container{
   display: flex;
   align-items: center;
   gap: 1rem;
}

.data-holder-container.add-color{
   background-color: lightgray;
}


.data-holder.add-line{
   text-decoration: line-through;
}

.tick-mark{display: none;}
.tick-mark.show-me{display: block;}

